/* styles.module.css */

/* General Styles */
.darkBackground {
    background-color: #704214;
    color: white;
  }
  
  .whiteBackground {
    background-color: white;
    color: #704214;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nav-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }
  
  .nav-header h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .wallet-address {
    margin-right: 20px;
  }
  
  .toggle-darkmode {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 50px;
  }
  
  /* Dark Mode Toggle */
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 5px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: -4px;
    bottom: 0;
    background-color: #000;
    transition: 0.4s;
    border-radius: 20px;
  }
  
  .slider:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: white;
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }
  
  /* Font and Font Size Styles */
  .container,
  .main,
  .inputField,
  .textarea,
  .connect-button,
  .submitButton,
  .footerIcon {
    font-family: 'YourFontName', sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
  
  /* Navbar */
  .container.darkBackground {
    background-color: #704214;
  }
  
  .nav-header.darkBackground {
    background-color: #704214;
    border-bottom: 1px solid white;
  }
  
  .nav-header.whiteBackground {
    background-color: white;
    border-bottom: 1px solid #704214;
  }
  
  .connect-button {
    border: 0;
    color: #704214;
    background-color: white;
  }
  
  /* Contact Form */
  .main {
    padding-top: 60px;
  }
  
  .main2 {
    background-image: radial-gradient(var(--gradient-colors));
  }
  
  .contactForm {
    border: var(--form-border);
  }
  
  .inputField {
    border-bottom: var(--input-border);
  }
  
  .textarea {
    border-bottom: var(--input-border);
  }
  
  .submitButton {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
  }
  
  /* Footer */
  footer {
    margin-bottom: 30px;
    width: 100%;
    border-top: 1px solid var(--footer-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footerIcon {
    width: 20px;
    padding: 15px;
  }
  